<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mashup.lastgarden">

    <application
        android:name=".PerfumateApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LastGarden">

        <activity android:name=".ui.onboarding.OnBoardingActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.editor.EditorActivity" />
    </application>

</manifest>